<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="QMSUrl" value="http://servl031:4799/QMS/Service" />
  </appSettings>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="serviceKeyBehavior" type="QVManagerConnectorService.ServiceSupport.ServiceKeyBehaviorExtensionElement, QVManagerConnectorService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ServiceKeyEndpointBehavior">
          <serviceKeyBehavior/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="QVManagerConnectorService.QVManagerApiConnectorService" behaviorConfiguration="mexBehavior">
        <endpoint address="QVManagerApiConnectorService" binding="webHttpBinding" contract="QVManagerConnectorService.IQVManagerApiConnectorService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8085" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQMS" maxReceivedMessageSize="256000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IQTService">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://servl031:4799/QMS/Service" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IQMS" contract="QMSAPIService.IQMS"
          name="BasicHttpBinding_IQMS" behaviorConfiguration="ServiceKeyEndpointBehavior" />
      <endpoint address="http://servl031:4799/ANY/Service" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IQTService" contract="QMSAPIService.IQTService"
          name="BasicHttpBinding_IQTService" />
    </client>
  </system.serviceModel>
</configuration>
