<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <extensions>
        <behaviorExtensions>
          <add name="serviceKeyBehavior" type="QVManagerConnectorService.ServiceSupport.ServiceKeyBehaviorExtensionElement, QVManagerConnectorService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </behaviorExtensions>
      </extensions>
      <behaviors>
        <endpointBehaviors>
          <behavior name="ServiceKeyEndpointBehavior">
            <serviceKeyBehavior/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQMS">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://servl031:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS" contract="QMSAPIService.IQMS"
                name="BasicHttpBinding_IQMS" behaviorConfiguration="ServiceKeyEndpointBehavior" />
            <endpoint address="http://servl031:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService" contract="QMSAPIService.IQTService"
                name="BasicHttpBinding_IQTService" />
        </client>
    </system.serviceModel>
</configuration>